<div class="container">
   <div class="row">
     <div class="col-xl-9 col-lg-9 col-md-9 col-sm-12 col-12">
        <ngu-carousel
        [inputs]="carouselOne"
        >
       
          <ngu-item *ngFor="let carousel of arrayImagenesCarousel" NguCarouselItem>
              
            <div class="tile" [ngStyle]="{'background-image': 'url(' + carousel.imagenCarousel.secure_url + ')'}">
              <div class="text-container">
                <p class="texto-img">{{carousel.texto}}</p>
                <a class="btn-carousel" href="{{carousel.urlExterno}}" >{{carousel.textoBoton}}</a>
              </div>
            </div>
          </ngu-item>
          <button NguCarouselPrev class='leftRs'></button>
          <button NguCarouselNext class='rightRs'></button>
    </ngu-carousel>
     </div>
     <div class="col-xl-3 col-lg-3 col-md-3 col-sm-0 col-0">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-12">
            <a href="{{imagenesDerechaSuperior.imagenSuperior.urlExterno}}">
                <img src="{{imagenesDerechaSuperior.imagenSuperior.secure_url}}" style="height: 190px;  width: 100%;" class="img-fluid" alt="">
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="{{imagenesDerechaSuperior.imagenInferior.urlExterno}}">
                <img src="{{imagenesDerechaSuperior.imagenInferior.secure_url}}"  style="height: 190px; width: 100%;" class="img-fluid" alt="">
            </a>
          </div>
        </div>
    </div>
   </div>
</div>