<app-nav-front></app-nav-front>
<br>
<div class="container">
   <div class="row">
     <div class="col-12" style="text-align: center;">
      <i class="fas fa-check fa-4x" style="color: #408DE4"></i>
     </div>
   </div>
   <br>
   <div class="row">
     <div class="col-12" style="text-align: center;">
       <p class="texto">Usuario registrado exitosamente</p>
     </div>
   </div>
   <div class="row">
    <div class="col-12" style="text-align: center;">
      <a routerLink="/usuario/iniciar-sesion" style="font-size: 120%;">Iniciar sesión</a>
    </div>
  </div>
</div>