<app-navbars></app-navbars>
<div class="container-fluid">
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Agregar método de envío</h2>
      </div>
    </div>
    <br>
     <div class="row">
       <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="form-group">
                 <label for="tituloEnvio">Titulo de envío</label>
                 <input type="text" class="form-control" [(ngModel)]="objetoEnvio.nombreEnvio">
              </div>
              <div class="form-group">
                <label for="tipoEnvio">Definir envío por</label>
                 <select class="form-control" id="tipoEnvio" [(ngModel)]="objetoEnvio.tipoEnvio">
                    <option value="peso">Peso</option>
                    <option value="monto">Monto de compra</option>
                  </select>
              </div>
              <div class="row" *ngIf="showPeso==true">
                <div class="col-6">
                  <div class="form-group">
                    <label for="peso">Peso</label>
                    <input type="text" class="form-control" [(ngModel)]="objetoEnvio.pesoEnvio">
                 </div>
                </div>
                <div class="col-6">
                   <label for="unidadPeso">Unidad peso</label>
                   <select class="form-control" id="tipoEnvio" [(ngModel)]="objetoEnvio.unidadPeso">
                    <option value="kg">kg</option>             
                    <option value="lb">lb</option>
                    <option value="gr">gr</option>
                  </select>
                </div>
              </div>
              <div class="form-group" *ngIf="showMonto==true">
                <label for="montoCompra">Monto de compra</label>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" [(ngModel)]="objetoEnvio.precioEnvio">
                </div>
              </div>
              <div class="form-group">
                 <label for="compañia">Compañia de envío</label>
                 <input type="text" class="form-control" [(ngModel)]="objetoEnvio.metodoEnvio">
              </div>
            </div>
          </div>
       </div>
     </div>
     <br>
     <div class="row">
       <div class="col-12">
         <button class="btn btn-success" style="padding: 10px;float: right;" [ngClass]="{'disabled':disabledButton==true}" (click)="guardarTipoEnvio()">Guardar</button>
       </div>
     </div>
  </div>
</div>