.body-container{
 background-color: #F4F6F8;
  height: 100vh;
}
#card-link{
  margin-top: 20px;
}

.list-group-item{
  cursor: pointer;
  margin-bottom: 10px;
}
.list-group-item:hover{
  transition: .2s;
  background-color: aliceblue;
}
.list-group-item:not(:hover){
  transition: .2s;
}

