<app-nav-front></app-nav-front>
<br>
<app-secciones-carousel [objetos]="objetosComponenteCarousel"></app-secciones-carousel>
<br>
<app-secciones-side 
[imagenesIzquierda]="objetoInterfazRecuperada.imagenesIzquierda" [objetoWidgetIzquierda1]="objetoInterfazRecuperada.objetoWidgetIzquierda1" [arrayObjetosWidget2]="objetoInterfazRecuperada.arrayObjetosWidget2"
[coleccionesSeccionesProd]="objetoInterfazRecuperada.coleccionesSeccionesProd"
[imagenesWidgetDerecha]="objetoInterfazRecuperada.imagenesWidgetDerecha"
>
</app-secciones-side>
<app-footer [objetoMenuFooter]="objetoInterfazRecuperada.objetoMenuFooter"></app-footer>
