<nav class="navbar navbar-expand-lg sticky-top bg-light ">
  <a class="navbar-brand" href="#">Tema</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <i class="fas fa-bars" style="color: white;"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/interfaz/navegacion">Navegación</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/tema/index">Interfaz</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/categorias">Páginas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/descuentos">
          <i class="fas fa-percent"></i> Descuentos </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/config">
          <i class="fas fa-cog"></i> Configuracion </a>
      </li>
    </ul>
  </div>
</nav>
