.footer-container{
  width: 100%;
  background-color: #222222;
  color: aliceblue;
 
}

.col-footer1{
  height: 50px;
}

.elementosNav{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 120%;
  transition: 0.2s;
}

.elementosNav:hover{
  text-decoration: none;
}

.footer-container-2{
  width: 100%;
  height: 90px;
  background-color: #222222;
}

.newsLetter{
  font-size: 120%;
}

.btn-sub{
  border: none;
  background-color: #408DE4;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}