<app-navbars></app-navbars>
<div class="container-body">
  <br>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div class="card">
        <div class="card-body">
            <br>
            <div class="container">
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                  <div class="card cards" (click)="navegar('/admin/config/general')">
                    <div class="card-body cuadros">
                       <div class="row">
                         <div class="col-12" style="text-align: center;">
                            <i class="fas fa-cog fa-2x"></i>
                         </div>
                       </div>
                       <div class="row">
                          <div class="col-12" style="text-align: center;">
                            <p class="texto">General</p>
                            <p class="sub-texto">Configuracion de aspectos generales de la tienda</p>
                          </div>
                       </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card cards" (click)="navegar('/admin/config/impuestos')" >
                        <div class="card-body cuadros">
                           <div class="row">
                             <div class="col-12" style="text-align: center;">
                                <i class="fas fa-sticky-note fa-2x"></i>
                             </div>
                           </div>
                           <div class="row">
                              <div class="col-12" style="text-align: center;">
                                <p class="texto">Impuestos</p>
                                <p class="sub-texto">Configuracion de impuestos en los productos</p>
                              </div>
                           </div>
                        </div>
                      </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                    <div class="card cards" (click)="navegar('/admin/notificaciones')">
                        <div class="card-body cuadros">
                           <div class="row">
                             <div class="col-12" style="text-align: center;">
                                <i class="fas fa-bell fa-2x"></i>
                             </div>
                           </div>
                           <div class="row">
                              <div class="col-12" style="text-align: center;">
                                <p class="texto">Notificaciones</p>
                                <p class="sub-texto">Configurar las notificaciones de la tienda</p>
                              </div>
                           </div>
                        </div>
                      </div>
                </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="card cards" (click)="navegar('/admin/envios')">
                          <div class="card-body cuadros">
                             <div class="row">
                               <div class="col-12" style="text-align: center;">
                                  <i class="fas fa-shipping-fast fa-2x"></i>
                               </div>
                             </div>
                             <div class="row">
                                <div class="col-12" style="text-align: center;">
                                  <p class="texto">Envíos</p>
                                  <p class="sub-texto">Configurar los envíos de la tienda</p>
                                </div>
                             </div>
                          </div>
                        </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="card cards" (click)="navegar('/admin/administradores')">
                          <div class="card-body cuadros">
                             <div class="row">
                               <div class="col-12" style="text-align: center;">
                                  <i class="fas fa-users fa-2x"></i>
                               </div>
                             </div>
                             <div class="row">
                                <div class="col-12" style="text-align: center;">
                                  <p class="texto">Administradores</p>
                                  <p class="sub-texto">Revisar administradores de la tienda</p>
                                </div>
                             </div>
                          </div>
                        </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                      <div class="card cards" (click)="navegar('/admin/politicas')">
                          <div class="card-body cuadros">
                             <div class="row">
                               <div class="col-12" style="text-align: center;">
                                  <i class="fas fa-book fa-2x"></i>
                               </div>
                             </div>
                             <div class="row">
                                <div class="col-12" style="text-align: center;">
                                  <p class="texto">Politicas</p>
                                  <p class="sub-texto">Administrar las politicas de la tienda</p>
                                </div>
                             </div>
                          </div>
                        </div>
                  </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
  
</div>
